body {
      position: relative;
  }
  .affix {
      top: 20px;
  }
  div.col-sm-9 div {
      height: 250px;
      font-size: 28px;
      cursor: pointer;
  }
  #y2016 {color: #fff; background-color: #1E88E5;}
  #y2015 {color: #fff; background-color: #673ab7;}
  #y2014 {color: #fff; background-color: #ff9800;}
  #y2013 {color: #fff; background-color: #00bcd4;}
  #y2012 {color: #fff; background-color: #1E88E5;}
  #y2011 {color: #fff; background-color: #673ab7;}
  #y2010 {color: #fff; background-color: #ff9800;}

  @media screen and (max-width: 810px) {
    #y2016, #y2015, #y2014, #y2013, #y2012, #y2011, #y2010  {
        margin-left: 150px;
    }
  }
.top-text{
	font-size: 70px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	font-weight: bold;
}
.footer-text{
	text-align: center;
	height: 120px;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.nav{
	font-size: 30px;
}
.yearDetailFont{
	font-size: 70px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}




.hanbit-header {
	position: relative;
	width: 100%;
	height: 48px;
	background-color: #942B32;
	z-index: 1000;
}

.hanbit-top-button {
	position: relative;
	width: 48px;
	height: 48px;
	color: white;
	text-align: center;
	cursor: pointer;
}
.hanbit-top-button.right {
	display: inline-block;
	right: 0px;
}
.hanbit-top-button.arrow {
	width: 32px;
}

#btnGroupRight {
	position: absolute;
	top: 0px;
	right: 0px;
}

.hanbit-abs-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hanbit-container {
	padding: 58px 10px 10px 10px;
}

.bottom-buttons {
	text-align: center;
}

.btnBack i {
	font-size: 36px;
}

.hidden-view {
	display: none;
	position: relative;
}

#btnGroupSub {
	display: none;
}

.input-required {
	color: #f00;
}

.img{
	background-repeat: round;
}